{% extends 'base.html.twig' %}

{% block body %}

<div class="row">

    <div class="col-lg-12" id="pdf">
        <div class="">
            <div class="row center-flex">
                <div class="card card-body mx-2 col-md-5">
                    <div class="">
                        <h1>Affectation</h1>
                    </div>
                    {{form(form)}}
                </div>
            </div>
        </div>
        <!-- /.card -->

    </div>
    <!-- /.col-md-6 -->
    <!-- /.row -->
</div>

<!-- /.container-fluid -->
{% endblock %}
