{% extends 'base.html.twig' %}

{% block title %}Hello PersonnelController!{% endblock %}

{% block body %}

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
            </div>
        </div>
        
        <div class="card">
            <div class="card-header row">
                <a href="Immobilisation" class="col-2 btn btn-primary mx-2">+ ajouter nouveau personnel</a>
            </div>
        </div>
        <!-- /.card -->

    </div>

    <div class="col-lg-12" id="pdf">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="ion ion-clipboard mr-1"></i> Immobilier
                </h3>

                <div class="card-tools row">
                    <div class="mx-2">
                        <div class="input-group input-group-sm">
                          <div class="input-group-prepend">
                            <span class="input-group-text">Rows</span>
                          </div>
                          <input id="limit" type="number" class="form-control" placeholder="Limit" value="<%=limit%>" min="1">
                          <script type="text/javascript">
                                let input = document.getElementById("limit");
                                input.onchange = () => {
                                    var value = (input.value.length > 0) ? input.value : 1;
                                    window.location.href = '?limit='+value;
                                }
                          </script>
                        </div>
                    </div>
                    <ul class="pagination pagination-sm">
                        <li class="page-item"><a href="?limit=<%= limit %>&page=1" class="page-link">First</a></li>
                    </ul>
                </div>
            </div>
            <div class="card-body">
                <div class="">
                    <table class="table table-bordered">
                        <tr>
                            <th></th>
                            <th>CIN</th>
                            <th>Nom</th>
                            <th>Direction</th>
                            <th>Contrat</th>
                        </tr>
                        <tbody>
                            {% if personnels|length > 0%}
                               {% for item in personnels %}
                                <tr>
                                    <td>
                                        <a href="personnel/{{item.getId()}}">Details</a>
                                    </td>
                                    <td>{{item.getId()}}</td>
                                    <td>{{item.getNom()}}</td>
                                </tr>
                                {% endfor %}              
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /.card -->

    </div>
    <!-- /.col-md-6 -->
    <!-- /.row -->
</div>
<!-- /.container-fluid -->
{% endblock %}
