{% extends 'base.html.twig' %}

{% block body %}
    <h1>Page non existant</h1>

    <p>
        <a href="{{ path(app.request.headers.get('referer')) }}">
            Retourner vers la page précedente
        </a>
    </p>
{% endblock %}